@charset "utf-8";
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3F3F3F;
    padding-top: 29px;
    padding-right: 4px;
    padding-bottom: 29px;
    padding-left: 2px;
}
header {
    width: 761px;
    margin-left: auto;
    margin-right: auto;
    height: 93px;
    background-image: url(media/optimize-field-sales-836428-edited.png);
}

nav {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    background-color: #81ABDB;
}
h1 {
    text-align: center;
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #253951;
    padding-top: 5px;
    margin-top: 13px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
}
footer {
    color: #000000;
    clear: both;
    float: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #81ABDB;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
