@charset "utf-8";
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding-top: 29px;
    padding-right: 4px;
    padding-bottom: 29px;
    padding-left: 2px;
}
body {
    background-color: #A6A6A6;
}


header {
    width: 761px;
    margin-left: auto;
    margin-right: auto;
    height: 93px;
    background-image: url(media/Untitled-1.jpg);
}

nav {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    background-color: #81ABDB;
    color: #08263F;
}
h1 {
    background-color: #FFFFFF;
    width: 304px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 35px;
}

main {
    width: 751px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #253951;
    padding-top: 5px;
    margin-top: 13px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    margin-bottom: 8px;
}
footer {
    color: #000000;
    float: none;
    width: 764px;
    margin-left: auto;
    margin-right: auto;
    background-color: #81ABDB;
    height: 47px;
    padding-top: 17px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
nav ul li {
    width: 100px;
    clear: both;
    list-style-type: none;
    vertical-align: baseline;
    border-width: medium;
    border-radius: 26px;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: center;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}
.footercolom {
    width: 240px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    background-color: #FFFFFF;
}

nav ul  {
    width: 737px;
    clear: both;
    list-style-type: none;
    vertical-align: baseline;
    border-width: medium;
    border-radius: 26px;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: center;
}
a:link {
    color: #4396C0;
    width: 82px;
    background-color: #FFFFFF;
    clear: both;
    list-style-type: none;
    vertical-align: baseline;
    border-radius: 26px;
    border-width: medium;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: center;
}
a:visited {
    color: #2A83CC;
    width: 82px;
    background-color: #FFFFFF;
    clear: both;
    list-style-type: none;
    vertical-align: baseline;
    border-radius: 26px;
    border-width: medium;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: center;
}
a:hover {
    color: #FFFFFF;
    width: 82px;
    background-color: #282E31;
    clear: both;
    list-style-type: none;
    vertical-align: baseline;
    border-radius: 26px;
    border-width: medium;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: center;
}
a:active {
    color: #FFF8BB;
    width: 82px;
    background-color: #3A2929;
    clear: both;
    list-style-type: none;
    vertical-align: baseline;
    border-radius: 26px;
    border-width: medium;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: center;
}
.leftheaderimg {
    float: left;
}
.rightheaderimg {
    float: right;
    clear: both;
    margin-right: 2px;
    margin-top: -89px;
}
